.b-accountList__addForm {
    display: none;
}

.b-accountList__addBlock_open .b-accountList__addForm {
    display: block;
}

.b-accountList__addBlock_open .b-accountList__addButton{
    display: none;
}

.b-accountList__successMessage,
.b-accountList__errorMessage{
    display: none;
}
.b-accountList_success .b-accountList__successMessage,
.b-accountList_error .b-accountList__errorMessage{
    display: block;
}