<!--suppress ALL -->
<section id="bs-footer">
<div class="container">
<div class="row">
	<div class="col-md-10 pull-left">
        <p class="small"><a href="http://schedugr.am/privacy.htm" target="_blank">Privacy Policy </a> | <a href="http://schedugr.am/terms.htm" target="_blank">Terms of Use </a> | <a href="/contact">Contact</a> </p>
		<p><a href="https://connectonline.asic.gov.au/RegistrySearch/faces/landing/bySearchId.jspx?searchId=167549877&searchIdType=BUSN&_adf.ctrl-state=1be2q5oazv_4" target="_blank">Schedugram is a registered entity of Dialogue Consulting Pty Ltd with the Australian Securities &amp; Investments Commission.</a></p>
        <p>&copy; Dialogue Consulting 2014, ABN 29 153 007 259.</p>
	</div>
	<div class="col-md-2 pull-right">
		<span class="text-right"><img src="/img/logo_inverse_130.png" alt="Schedugram Logo" class="img-responsive"></span><br/>
        <span class="text-right"><a href="http://www.dialogueconsulting.com.au" target="_blank"><img src="/img/dialogue_130w.png" alt="Dialogue Consulting" class="img-responsive"></a></span>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12">
        <p class="small"><strong>Note:</strong> ScheduGram is not affiliated with Instagram and is not endorsed or certified by Instagram. All Instagram™ logos and trademarks displayed on this application are property of Instagram.</p>
	</div>
</div></div></section>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery.ui.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap-timepicker.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.ui.widget.tools.js"></script>
<script src="/js/moment-with-langs.js"></script>

<script src="/blocks/b-ajaxForm/b-ajaxForm.js"></script>
<script src="/blocks/b-siteList/b-siteList.js"></script>
<script src="/blocks/b-signin/b-signin.js"></script>
<script src="/js/jquery.roles.js"></script>
<script src="/js/feather.js"></script>
<script src="/js/init.js"></script>
<script src="/js/jquery.formance.min.js"></script>
<script src="/js/bootstrap-formhelpers.min.js"></script>