<img src="http://pingjs.com/img/logo_50h.png" alt="Pingjs Logo" title="Pingjs Logo" style="height:50px;" />
<p>Dear {{ user.firstName }} {{ user.lastName }},</p>
<br>
<p>We’re sorry, there was an error in posting your photo to Instagram that was scheduled at {{job.lastRunAt}}. The username or password that you have provided for your Instagram account seems to be invalid.</p>
<p>Double check that the password is correct by <a href="https://instagram.com/accounts/login/" target="_blank"> logging into Instagram on the web.</a></p>
<p>The error may also have been caused by a password reset, where Instagram asks you to reset your password due to irregular use of your account (in this case, using it in Australia).</p>
<p>This error is due to an Instagram security policy, as you're now logging into Instagram from Australia in to Schedugram. Once your password is reset (follow the instructions from Instagram you will receive by email), your account will be whitelisted from our location and you won't see the error again. Please accept our apologies for the inconvenience, and thanks for using Schedugram.</p>
<p>Then please change the password associated with this Instagram account on your Accounts page using the 'Change password' button and then re-post your image. Please accept our apologies for the inconvenience caused.</p>
<p></p>
<p>Thank you,</p>
<p>Schedugram</p>