<img src="http://schedugr.am/logo_50h.png" alt="Schedugram Logo" title="Schedugram Logo">
<p>Dear {{user.firstName}} {{user.lastName}},</p>
<p></p>
<p>You have requested to have your password reset for your account "{{user.login}}" at Schedugram</p>
<p></p>
<p><a href='https://app.schedugr.am/signin?token={{user.resetToken}}#reset'>Please click here to reset your password.</a> </p>
<p></p>
<p>If you received this email in error, you can safely ignore it.</p>
<p></p>
<p>Thank you,</p>
<p>Schedugram</p>
