<img src="http://pingjs.in/img/logo_50h.png" alt="Pingjs Logo" title="Pingjs Logo" style="height:50px;" />
<p>Dear {{user.firstName}} {{user.lastName}},</p>
<p></p>
<p>You have requested to have your password reset for your account "{{user.username}}" at Pingjs</p>
<p></p>
<p><a href='http://pingjs.in/signin?token={{user.resetToken}}#reset'>Please click here to reset your password.</a> </p>
<p></p>
<p>If you received this email in error, you can safely ignore it.</p>
<p></p>
<p>Thank you,</p>
<p>Pingjs</p>
