<img src="http://pingjs.com/logo_50h.png" alt="Pingjs Logo" title="Pingjs Logo">
<p>Dear {{ user.firstName }} {{ user.lastName }},</p>
<br>
<p>This is to confirm that your Registration with Pingjs is successful.</p>
<p>Please verify your email address by clicking <a href="http://localhost:8000/activate/{{user.confirm_token}}">here</a>.</p>
<p></p>
<p>Thank you,</p>
<p>Pingjs</p>