<img src="http://pingjs.com/img/logo_50h.png" alt="Pingjs Logo" title="Pingjs Logo" style="height:50px;" />
<p>Dear {{ user.firstName }} {{ user.lastName }},</p>
<br>
<p>This is to confirm that your Registration with Pingjs is successful.</p>
<p>Please verify your email address by clicking <a href="{{host}}activate/{{user.confirm_token}}">here</a>.</p>
<p></p>
<p>Thank you,</p>
<p>Pingjs</p>
