{{!< default}}

{{#contentFor "title"}}Contact Us{{/contentFor}}

<h1>Contact the PingJs team</h1>

<div class="row">
    <div class="col-md-8 pull-left">
        <h3>We pride ourselves on providing the best support possible.</h3>
        <h4>You can contact us on:</h4>
        <p><i class="fa fa-phone-square"></i> 9000 045 368 (IND) [during operating hours below]</p>
        <p><i class="fa fa-envelope"></i> avinash.ega@gmail.com</p>
        <p><i class="fa fa-facebook-square"></i><a href="http://facebook.com/pingjs"> /Pingjs</a></p>
        <p>Or use the red <i class="fa fa-question-circle"></i> in the corner of this screen to send us an email.</p>
    </div>
    <div class="col-md-4">
    </div><div class="clearfix"></div>
    <div class="col-md-12 well">
        <p>We reply to most questions within 30 minutes during operating hours (9am-5pm Mon-Fri, Indian Stardard Time (GMT+5:30)) or as soon as possible (usually within the hour) on weekends/out of hours.</p>
    </div>
</div>
