
<!DOCTYPE html>
 
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8"/>
 
<meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no"/>
<title>Pingjs | Uptime made simple</title>
<link rel="stylesheet" href="/css/foundation.css">
<link rel="stylesheet" href="/css/flexslider.css">
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/entypo.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Paytone+One|Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="favicon.ico">
<meta property="og:description" content="Pingjs is a service that lets you monitor your websites at ease."/>
<meta property="og:site_name" content="Pingjs"/>
<meta property="og:image" content="http://pingjs.com/logo_50h.jpg"/>
<meta property="og:title" content="Pingjs | Uptime monitoring made simple"/>
</head>
<body>
<div id="main-container">
<div id="main-nav">
<div class="row">
<div class="twelve columns">
<div id="logo" class="left animated fadeInDown">
<a href="#"><img src="/img/logo_50h.png" style="height:50px;" /></a>
</div>
<div id="mobile-toggle" class="show-for-small"><i class="entypo list"></i></div>
<div id="nav-holder" class="right">
<ul>
<li><a href="#features-scroll" class="scroll">FEATURES</a></li>
<li><a href="#pricing-scroll" class="scroll">PRICING</a></li>
<li><a href="http://nodeblog.tumblr.com" target="_blank">BLOG</a></li>
<li style="margin-top:-8px;"><a href="http://pingjs.com/signup"><div class="red-btn btn" style="padding:7px;"><strong>Signup</strong></div></a></li>
<li style="margin-top:-8px; margin-left:10px;"><a href="http://pingjs.com/signin"><div class="blue-btn btn" style="padding:7px; top:0px;"><strong>Login</strong></div></a></li>
</ul>
</div>
</div>
</div>
</div>
<section id="home" style="margin-top:30px;" class="hide-for-small">
<div class="row hide-for-small" id="wrapper">
<div class="six columns animated fadeInUpBig slide-left hide-for-small nopad">
<img alt="front" src="/img/screenshot_top1.png"/>
</div>
<div class="six columns animated fadeInRightBig slide-right nopad">
<h1>A simpler way to manage uptime.</h1>
<div class="hr hide-for-small top"></div>
<p style="text-align:center">
Pingjs is for those who need an easier way to monitor uptime for their websites.<br/>
Pingjs features <strong>create checks, scheduling, </strong>and supports <strong>multiple email notifications.</strong>
</p>
<div style="text-align:center">
<a href="#features-scroll" class="scroll"><div class="red-btn right">Find out more</div>&nbsp;&nbsp;</a>  
<a href="http://pingjs.com/signup" class="scroll"><div class="green-btn left">Get started now</div></a>
</div>
</div>
</div>
</section>
<a id="features-scroll"></a>
<section id="feature-list" class="even-section">
<div class="show-for-small" style="height:80px;"><span style="margin-top:80px;">&nbsp;</span></div>
<div class="row inner-section section-preamble text-center animated fadeInDown">
<h2>An easier way to manage site monitoring.</h2>
<p>
Pingjs saves your day by <strong>monitoring your websites</strong> <br/>and notifiying <strong>multiple Email accounts</strong> when your website goes down.
</p>
<div class="hr"></div>
</div>
<div class="row feature-row inner-section flyIn">
<div class="three columns feature text-center">
<img alt="Feature Icon" src="/img/https.png"/>
<h4 class="alt-h">HTTPS</h4>
<p>
Users are allowed to choose between http/https monitoring
</p>
</div>
<div class="three columns feature text-center">
<img alt="Feature Icon" src="/img/port.png"/>
<h4 class="alt-h">PORT</h4>
<p>
Site Ports are enabled so that users can track their websites running on a specific port.
</p>
</div>
<div class="three columns feature text-center">
<img alt="Feature Icon" src="/img/multi_acc_graphic.png"/>
<h4 class="alt-h">MULTIPLE EMAILS</h4>
<p>
You can get notified at multiple email accounts when your sites goes down. <strong>No more downtime nightmares!</strong>
</p>
</div>
<div class="three columns feature text-center">
<img alt="Feature Icon" src="/img/multi_user_graphic.jpg"/>
<h4 class="alt-h">MULTIPLE USERS</h4>
<p>
Coming soon: Let multiple users log into your Pingjs account schedule checks for your websites.
</p>
</div>
</div>

</section>
<a id="pricing-scroll"></a>
<section id="pricing" class="even-section">
<div class="row inner-section section-preamble text-center flyIn">
<h2>Awesome features that won't break the bank.</h2>
<p>
Our plans are based on the number of checks you create, and the frequency of each check!
</p>
<div class="hr"></div>
</div>
<div class="row inner-section">
<div class="row">
<div class="three columns price-table text-center fast-anim flyIn">
<div class="price-heading">
<h4 class="text-white">Starter</h4>
</div>
<div class="price-amount">
<h2 class="text-white">$0 <br/><span style="font-size:24px;">per month</span></h2>
</div>
<ul class="price-details">
<li>1 Check</li>
<li>Maximum Poll Frequency 1 check/5 minutes<sup>*</sup></li>
<li>1 Notification Email account</li>
<li>1 User</li>
<li><strong>-</strong><br/>&nbsp;</li>
<li><strong>-</strong><br/>&nbsp;</li>
</ul>
<div class="price-purchase">
<a href="http://pingjs.com/signup"><div class="red-btn btn">Sign up now</div></a>
</div>
</div>
<div class="three columns price-table text-center flyIn">
<div class="price-heading">
<h4 class="text-white">Grow</h4>
</div>
<div class="price-amount">
<h2 class="text-white">$10 <br/><span style="font-size:24px;">per month</span></h2>
</div>
<ul class="price-details">
<li>3 Checks</li>
<li>Maximum Poll Frequency 1 check/minute</sup></li>
<li>3 Notification Email accounts</li>
<li>3 Users</li>
<li>Basic analytics <em>(coming soon)</em></li>
<li><strong>30 day free trial</strong><br/>&nbsp;</li>
</ul>
<div class="price-purchase">
<a href="http://pingjs.com/signup"><div class="red-btn btn">Sign up now</div></a>
</div>
</div>
<div class="three columns price-table text-center slow-anim flyIn">
<div class="price-heading">
<h4 class="text-white">Pro</h4>
</div>
<div class="price-amount">
<h2 class="text-white">$25 <br/><span style="font-size:24px;">per month</span></h2>
</div>
<ul class="price-details">
<li>10 Checks</li>
<li>Maximum Poll Frequency 1 Check/30 Seconds</sup></li>
<li>Unlimited Notifcation Email Accounts</li>
<li>5 Users</li>
<li>Basic analytics <em>(coming soon)</em></li>
<li><strong>30 day free trial</strong></li>
</ul>
<div class="price-purchase">
<a href="http://pingjs.com/signup"><div class="red-btn btn">Sign up now</div></a>
</div>
</div>
<div class="three columns price-table text-center slow-anim flyIn">
<div class="price-heading">
<h4 class="text-white">Boss</h4>
</div>
<div class="price-amount">
<h2 class="text-white">$100 <br/><span style="font-size:24px;">per month</span></h2>
</div>
<ul class="price-details">
<li>Unlimited Checks</li>
<li>Maximum Poll Frequency 1 Check/15 seconds</sup></li>
<li>Unlimited Notification Email accounts</li>
<li>Unlimited Users</li>
<li>Adv. analytics <em>(coming soon)</em></li>
<li><strong>30 day free trial</strong></li>
</ul>
<div class="price-purchase">
<a href="http://pingjs.com/signup"><div class="red-btn btn">Sign up now</div></a>
</div>
</div></div><div class="clear"></div>

</div>
</section>
<section id="footer">
<div class="row inner-section">
<div class="three columns">
<h5 class="footer-title">NAVIGATE</h5>
<ul>
<li><a href="#features-scroll" class="scroll">FEATURES</a></li>
<li><a href="#pricing-scroll" class="scroll">PRICING</a></li>
<li><a href="http://nodeblog.tumblr.com" target="_blank">BLOG</a></li>
<li><a href="http://pingjs.com/signup"><div class="red-btn btn" style="padding:7px; max-width: 65px; text-align:center;"><strong>Signup</strong></div></a></li>
<li><a href="http://pingjs.com/signin"><div class="blue-btn btn" style="padding:7px; max-width: 65px; text-align:center;"><strong>Login</strong></div></a></li>
</ul>
</div>
<div class="six columns">
<h5 class="footer-title">ABOUT US</h5>
<p>
Pingjs is an easy to use uptime monitoring service. It's still early days, and we're adding new features daily
</p>
<p>
The team is based in Hyderabad, India.
</p>
<hr/>
<p>&copy;Pingjs</a> 2014.</p>
</div>
<div class="three columns text-right">

<p><img src="/img/logo_50h_inverse.png" alt="Pingjs Logo"></p>
</div>
</div>
</section>
</div>
 
<script src="/js/foundation.min.js"></script>
<script src="/js/foundation.js"></script>
<script src="/js/foundation.alert.js"></script>
<script src="/js/foundation.reveal.js"></script>
 
<script src="/js/modernizr.foundation.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/inview.js"></script>
<script src="/js/smooth-scroll.js"></script>
<script src="/js/scripts.js"></script>

</body>
</html>
</body>
</html>